
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Kien's<span>Travel</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Trang Chủ</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">Về Chúng Tôi</a></li>
                    <li class="nav-item"><a href="destination.html" class="nav-link">Địa Điểm</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Liên Hệ</a></li>
                    <li class="nav-item cta"><a href="#" class="nav-link">Đặt Ngay</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody()

    <footer class="ftco-footer bg-bottom" style="background-image: url(/Content/images/footer-bg.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Kien's Travel</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/trungkien.user"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/_trungkien.ig/?hl=vi"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Thông tin</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Tư vấn Online</a></li>
                            <li><a href="#" class="py-2 d-block">Đặt tour du lịch</a></li>
                            <li><a href="#" class="py-2 d-block">Quyền riêng tư & Chính sách</a></li>
                            <li><a href="#" class="py-2 d-block">Chính sách hoàn lại tiền</a></li>
                            <li><a href="#" class="py-2 d-block">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Kinh Nghiệm</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Địa điểm</a></li>
                            <li><a href="#" class="py-2 d-block">Khách sạn & nhà hàng</a></li>
                            <li><a href="#" class="py-2 d-block">Bãi biển</a></li>
                            <li><a href="#" class="py-2 d-block">Cắm trại</a></li>
                            <li><a href="#" class="py-2 d-block">Tổ chức tiệc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Thông tin liên hệ</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">377 Bạch Đằng - Bình Thạnh - TPHCM</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+84 375 130 307</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">kienhuynh279@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>Thiết kế bằng cả tấm lòng  <i class="icon-heart color-primary" aria-hidden="true"></i> <a href="https://www.facebook.com/trungkien.user" target="_blank">Trung Kien</a></p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/scrollax.min.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>
</html>