@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="hero-wrap js-fullheight" style=" background-image: url(/Content/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="caps" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Du lịch đến bất kỳ nơi nào trên thế giới một cách thạt dơn giản</p>
                <h1 data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hãy Làm Điều Đó Với Chúng Tôi</h1>
            </div>
        </div>
    </div>
</div>

<div class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-wrap-1 ftco-animate p-4">
                    <form action="#" class="search-property-1">
                        <div class="row">
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="#">Địa Điểm</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="ion-ios-search"></span></div>
                                        <input type="text" class="form-control" placeholder="Nhập địa điểm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="#">Ngày đi</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="ion-ios-calendar"></span></div>
                                        <input type="text" class="form-control checkin_date" placeholder="Chọn ngày đi">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="#">Ngày về</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="ion-ios-calendar"></span></div>
                                        <input type="text" class="form-control checkout_date" placeholder="Chọn ngày về">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="#">Giá tiêng giới hạn</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">5 triệu</option>
                                                <option value="">10 triệu</option>
                                                <option value="">50 triệu</option>
                                                <option value="">100 triệu</option>
                                                <option value="">200 triệu</option>
                                                <option value="">trên 200 triệu</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-self-end">
                                <div class="form-group">
                                    <div class="form-field">
                                        <input type="submit" value="Tìm" class="form-control btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate">
                <h2 class="mb-4">
                    Đã đến lúc bắt đầu cuộc phiêu lưu của bạn
                </h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates optio excepturi beatae sunt quas incidunt voluptatibus natus nulla officia, maxime ratione, itaque sit consequatur labore praesentium repudiandae delectus voluptate expedita!.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, quam numquam. Facere, obcaecati architecto? Ad cumque neque sequi assumenda tempora maxime officiis voluptatibus quis. Ad id nihil autem quos doloremque..</p>
                <p><a href="#" class="btn btn-primary py-3 px-4">Khám phá</a></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-paragliding"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Hoạt Động</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores aliquid aperiam ab totam porro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-route"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Sắp xếp chuyến đi</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores aliquid aperiam ab totam porro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-tour-guide"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Hướng dẫn viên du lịch</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores aliquid aperiam ab totam porro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-map"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Người quản lí</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores aliquid aperiam ab totam porro</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img d-flex align-self-stretch" style="background-image: url(/Content/images/about.jpg);">

                </div>
            </div>
            <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4">Hãy làm cho chuyến tham quan của bạn đáng nhớ và an toàn với chúng tôi</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni molestiae voluptatum eligendi, maiores, id quibusdam beatae repudiandae</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center mb-4">
                            <div class="text">
                                <strong class="number" data-number="300">0</strong>
                                <span>
                                    Chuyến tham quan thành công
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center mb-4">
                            <div class="text">
                                <strong class="number" data-number="24000">0</strong>
                                <span>Happy Tourist</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center mb-4">
                            <div class="text">
                                <strong class="number" data-number="200">0</strong>
                                <span>
                                    Địa điểm đã khám phá
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Các Tour Nước Ngoài</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" style="background-image: url(/Content/images/destination-4.jpg);" class="img">
                    </a>
                    <div class="text p-4">
                        <span class="price">30 triệu/người</span>
                        <span class="days">8 ngày đêm</span>
                        <h3><a href="#">Bali, Indonesia</a></h3>
                        <p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
                        <p class="location">Thông tin khách sạn</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>2</li>
                            <li><span class="flaticon-king-size"></span>3</li>
                            <li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Các Tour Trong Nước</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" class="img" style="background-image: url(/Content/images/destination-3.jpg);">
                    </a>
                    <div class="text p-4">
                        <span class="price">2,5 triệu/người</span>
                        <span class="days">3 ngày đêm</span>
                        <h3><a href="#">Đà Lạt</a></h3>
                        <p class="location"><span class="ion-ios-map"></span>Đà Lạt</p>
                        <p class="location">Thông tin khách sạn</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>2</li>
                            <li><span class="flaticon-king-size"></span>3</li>
                            <li><span class="flaticon-sun-umbrella"></span>Gần Chợ Đà Lạt	</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Blog</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="        background-image: url(/Content/images/image_1.jpg);">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp">
                            <div class="one">
                                <span class="day">21</span>
                            </div>
                            <div class="two">
                                <span class="yr">2020</span>
                                <span class="mos">Tháng 9</span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Tại sao Tạo khách hàng tiềm năng là chìa khóa cho sự phát triển kinh doanh</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam totam iusto tenetur repellendus nemo optio sit velit eius</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>